---
interface Props{
    class:string
    title:string
    subtitle?:string
}

const {title,subtitle} = Astro.props
---
<style>
    article {
      box-shadow: inset 0px 0px 77px 46px rgba(11, 11, 11, 0.8);
    }
</style>
<article 
    class={`
    ${Astro.props.class}
    col-span-5
    relative rounded-2xl 
    background-drop-blur-md
    bg-[#080808]
    -z-0
    overflow-hidden
    group
`}style="
    background: #101103;
"
>   
    
    

    <slot name="image"></slot>

    <div class="relative select-none flex flex-col gap-1 p-6 text-lg z-20 justify-end h-full">
        <h2 class="text-3xl font-semibold text-pretty text-left sm:text-center text-white px-4 mb-4">{title}</h2>
        {subtitle && <h3 class="text-3xl font-semibold text-sky/200/800 -mt-4 mb-4">{subtitle}</h3>}
        <slot name="content"></slot>
    </div>
</article>