---
interface Props{
    class:string
    title:string
    subtitle?:string
}

const {title,subtitle} = Astro.props
---

<article 
    class={`
    ${Astro.props.class}
    col-span-5
    relative rounded-2xl 
    background-drop-blur-md
    
    bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-black via-[#242424] to-black
    sm:bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))]
    z-0
    overflow-hidden
    group
`}
>   
    
    

    <slot name="image"></slot>

    <div class="relative select-none flex flex-col gap-1 p-6 text-lg z-20 justify-end h-full">
        <h2 class="text-3xl font-semibold text-pretty text-center text-white mb-4">{title}</h2>
        {subtitle && <h3 class="text-3xl font-semibold text-sky/200/800 -mt-4 mb-4">{subtitle}</h3>}
        <slot name="content"></slot>
    </div>
</article>