---
import BentoItem from "./BentoItem.astro";
import BentoBike from "./BentoBike.astro";
import BentoGPS from "./BentoGPS.astro";
import BentoChallenge from "./BentoChallenge.astro";
import BentoBluetooth from "./BentoBluetooth.astro";
import { getI18N } from '../i18n/'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section 
    class="w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto p-6 md:p-12 lg:p-20"
    >
    <BentoBike class="col-span-10 lg:col-span-7" title="Limited edition, exclusive design">    
        <div
            slot='image'
            class='transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full bg-[#040404]
                bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110'
            style="background-image: url('/bike.webp');"
        >
        </div>

        <p  slot="content" class="max-w-xl text-base md:text-lg">
            Now you have all you need for your city rides with Siroko.
        </p>
    </BentoBike>

    <BentoGPS class="col-span-10 lg:col-span-3" title="GPS tracker" > 
        <div
            slot='image'
            class='transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full 
                bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110'
            style="background-image: url('/maps.jpg');"
        >
        </div>

         
    </BentoGPS>

    <BentoChallenge class="col-span-10 lg:col-span-3" title="Challenge your friends" >
        <div
            slot='image'
            class='transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full 
                bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110'
            style="background-image: url('/Challenge.png');"
        >
        </div>

        
    </BentoChallenge>

    <BentoBluetooth class="col-span-10 lg:col-span-7" title="Bluetooth controls at your fingerprints">
        <div
            slot='image'
            class='transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full 
                bg-contain bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110'
            style="background-image: url('/Bluetooth.png'); "
        >
        </div>

    </BentoBluetooth>
    
</section>